<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/navbar.ejs") %>
      <main>
        <div>

          <article>
            <div class="show-page">
              <h2>
                <%= event.name %>
              </h2>
              <img src="<%= event.image %>" class="img-responsive"><br>
              <h5><%= event.date.toDateString() %></h5>
              <h5><%= event.address %>, <%= event.city %>, <%= event.state %></h5>
              <p><%= event.description %></p>
              <% if (event.attendees.length > 0) { %>
                <h5>Attendees:</h5>
                <ul>
                  <% for (attendee of event.attendees) { %>
                    <li><%= attendee %></li>
                  <% } %>
                </ul>
              <% } else { %>
                <p>No one is signed up yet :/</p>
              <% } %>
              <div class="show-buttons">
                <% if (session.loggedIn && user._id.toString() != event.organizer.toString() && !event.attendees.includes(session.username)) { %>
                  <a href="/events/<%= event._id %>/signup">
                    <button class="btn btn-primary">Sign up!</button>
                  </a>
                <% } %>
                <% if (session.loggedIn && user._id.toString() === event.organizer.toString()) { %>
                  <a href="/events/<%= event._id %>/edit">
                    <button class="btn btn-warning">Edit Event</button>
                  </a>
                  <form action="/events/<%= event._id %>?_method=DELETE" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete Event">
                  </form>
                <% } %>
              </div>
            </div>
          </article>

        </div>
      </main>
  </body>

</html>