<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/navbar.ejs") %>
    <h1><%= user %></h1>
     <% if (myEvents.length != 0) { %>
      <h3>Your Events</h3>
      <ul>
        <% for (event of myEvents) { %>
          <li><a href="/events/<%= event._id %>"><%= event.name %></a></li>
        <% } %>
      </ul>
     <% } %>
    <% if (goingEvents.length != 0) { %>
      <h3>Events You're going To:</h3>
      <ul>
        <% for (event of goingEvents) { %>
          <li><a href="/events/<%= event._id %>">
            <%= event.name %>
          </a></li>
        <% } %>
      </ul>
    <% } %> 
  </body>

</html>